         = content/home.md
home     = content/home.md
xkcd     = content/xkcd.md
tools    = content/tools.md
contact  = content/contact.md
projects = content/projects.md

css  = assets/styles.css
ico  = assets/favicon.png
font = assets/inconsolata.ttf

robots.txt  = assets/robots.txt
sitemap.xml = assets/sitemap.xml

setup = assets/setup.png

stuff = content/stuff.md
