<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="theme-color" content="#4285f4">
		<meta name="author"      content="Prokop Randáček">
		<meta name="keyworlds"   content="Prokop Randáček">
		<meta name="description" content="Prokop Randáček's personal website">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{{'/assets/styles.css'      | absolute_url}}" type="text/css">
		<link rel="icon"       href="{{'/assets/favicon.png'     | absolute_url}}" type="image/png">
		<link rel="stylesheet" href="{{'/assets/inconsolata.ttf' | absolute_url}}">

		<title>randacek.dev - {{page.title}}</title>
	</head>
	<body>
		<div class="header">
			<h1>randacek.dev</h1>
			<p class="t">Prokop Randáček's web.</p>
		</div>
		<div class="navbar">
			{% assign sections_sorted = site.pages | sort: 'order' %}
			{% for p in sections_sorted %}
				{% if p.title and p.title != 404 %}
					{% if p.title == page.title %}
						<span class="current"><a href="{{p.url}}">{{p.title}}</a></span>
					{% else %}
						<a href="{{p.url}}">{{p.title}}</a>
					{% endif %}
					<!-- don't insert the navigation separator at the very end -->
					{% unless p == sections_sorted.last %}
						<span> | </span>
					{% endunless %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="content">
			{{content}}
		</div>
		<div class="footer">
			Made by me. 
			<a href="https://github.com/ProkopRandacek/randacek.dev">source</a>
		</div>
	<script>console.log("this is an easter egg")</script>
	</body>
</html>
